@font-face {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  src: local("Staatliches Regular"), local("Staatliches-Regular"),
    url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYebvpU.ttf)
      format("truetype");
}
.verify-img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}
@media (max-width: 520px) {
  .verify-img {
    max-width: 200px;
  }
}
